#logout{
    background-color: rgb(41, 175, 212);
    color:aliceblue;
}

#logout:hover{
    background-color: rgb(15, 75, 92);
}
@media screen and (max-width: 1000px) {
    .button.is-light.navbar-burger.burger {
        display: flex;
        width: 125px;
    }
}

#nav{
    background-color: white;
}

.logo-text{
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: rgb(20, 5, 73);
    margin-left: 10px;
}

.navbar.is-fixed-top-custom {
    top: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1;
}


