#nav{
    background-color: rgb(119, 200, 222);
}

#logout{
    background-color: rgb(41, 175, 212);
    color:aliceblue;
}

#logout:hover{
    background-color: rgb(15, 75, 92);
}

.logo-text{
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: rgb(20, 5, 73);
    margin-left: 10px;
}

.side-bar {
    position: fixed;
    width: inherit;
}

.info {
    padding-top: 5px;
}

.addUserForm {
    width: 50%;
}

.inputWrapper {
    width: 60%;
}

.fieldWrapper {
    display: flex;
    justify-content: space-between;
}