.hero-body{
    background: linear-gradient(#e695d2, #72c2d8);
}

#box{
    border: solid 0px;
}

h1{
    text-align: center;
    font-size: 27px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#a80a51;
}

#button{
    background: linear-gradient(#2596f9, #e85597);
    color:antiquewhite;
}

#button:hover{
    background: linear-gradient(#09457a, #a80a51);
    color:antiquewhite;
}

.has-text-centered{
    color:red;
    font-style: italic;
}

.input{
    margin-bottom: 10px;
}

#login-img{
    display: block;
    margin: 0 auto;
    width:40%;
    height:40%;
}
