#logout{
    background-color: rgb(41, 175, 212);
    color:aliceblue;
}

#logout:hover{
    background-color: rgb(15, 75, 92);
}

.imageWrapper {
    margin-top: 20px;
}

#uploadedimage {
    width: 40%;
    margin-top: 20px;
}


