#logout{
    background-color: rgb(41, 175, 212);
    color:aliceblue;
}

#logout:hover{
    background-color: rgb(15, 75, 92);
}
#nav{
    background-color: white;
}

.imageWrapper {
    margin-top: 20px;
}

#uploadedimage {
    width: 40%;
    margin-top: 20px;
}

.logo-text{
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: rgb(20, 5, 73);
    margin-left: 10px;
}

.navbar-brand-custom {
    padding-left: 0.75rem;
}

.buttonsName {
    padding-right: 0.75rem;
    justify-content: center;
    display: flex;
}


.navbar-item.navbar-item-custom {
    /* color: #4a4a4a;
    display: block;
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
    position: relative;
    box-sizing: inherit;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    display: flex; */
    padding: 0rem 0.75rem;
}


.totalItemsInCSSX {
    margin-bottom: 10px;
}
