.widgets, .charts{
    display: flex;
    padding: 20px;
    gap: 20px;
}

.charts {
    padding: 5px 20px;
}

.chartstatistic{
    padding: 5px 20px;
    margin-top: 70px;
    display: flex;
}

.inputYear{
    width: 100px;
    height: 30px;
}